{% macro pagination_widget(pagination, endpoint) %}
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <li>
                <a href="{% if pagination.has_prev %}
                                {{ url_for(endpoint,page=pagination.prev_num) }}
                        {% endif %}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            {% for iter_page in pagination.iter_pages() %}
                {% if iter_page %}
                    {% if iter_page==pagination.page %}
                        <li class="active">
                            <a href="{{ url_for(endpoint,page=iter_page) }}">{{ iter_page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for(endpoint,page=iter_page) }}">{{ iter_page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="disabled">
                        <a href="#">&hellip;</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="{% if pagination.has_next %}
                            {{ url_for(endpoint,page=pagination.next_num) }}
                        {% endif %}" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}