<ul class="nav nav-tabs">
    <li role="presentation" {% if request.cookies.get('show_followed')=='show_all' %} class="active" {% endif %} >
        <a href="{{ url_for('main.show_all',next=request.path) }}">全部文章</a>
    </li>
    {% if current_user.is_authenticated %}
        <li role="presentation" {% if request.cookies.get('show_followed')=='show_followed' %}
            class="active" {% endif %} >
            <a href="{{ url_for('main.show_followed',next=request.path) }}">关注文章</a>
        </li>
    {% endif %}
</ul>
<br>

<div class="posts">
    {% for post in pagination.items %}
        <hr>
        <div class="post-avatar">
            {% if post.author.avatar_url %}
                <a href="{{ url_for('main.user',id=post.author.id) }}">
                    <img class="avatar-small" src="{{ post.author.get_avatar_url() }}" alt="">
                </a>
            {% else %}
                <img class="avatar-small"
                     src="{{ post.author.get_avatar_url() }}" alt="">
            {% endif %}
        </div>
        <div class="post-comments">
            <div>
                <a class="text-left" href="{{ url_for('main.user',id=post.author.id) }}">
                    <span>{{ post.author.username }}</span>
                </a>
                <div class="text-right">
                    <span>{{ moment(post.created).fromNow(refresh=True) }}</span>
                </div>
            </div>
            <div>
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
        </div>
        <div class="post-footer text-right">
            {% if current_user.id==post.author_id or current_user.is_administrator() %}
                <a href="{{ url_for('main.edit_post',id=post.id,next=request.path) }}">
                    <span class="label label-primary">编辑</span>
                </a>
            {% endif %}
            <a href="{{ url_for('main.post_detail',id=post.id) }}">
                <span class="label label-info">生成连接</span>
            </a>
            <a href="">
                <span class="label label-success">0 评论</span>
            </a>
        </div>
    {% endfor %}

</div>
